body{
    font:15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0px;
    background-color:#DFB887;
}

.container{
    width:100%;
    margin: auto;
    overflow: hidden;
}

header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

.main-header{
    text-align:center;
    background-color:#ccccff;
    height:100px;
    width:100%;
    margin:0px;
}
name{
    float:left;
    font-size:30px;
    color: #DFB887;
    margin: 10px;
}

header h2{
    text-align:center;
    color:#fbdda;

}

.btn-info {background-color: #2196F3;
    height:40px;
    width:100px;} /* Blue */
.btn-info:hover {background: #0b7dda;}


.results{
    border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px;
    width: 200px;
    height: 150px;
}
.row {
    display: flex;
}
/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    height: 300px;
}
</style>
