<html>
<body>
    <h3>Chicago Apartment Rental Price Prediction</h3>

<div>
    <form action="/result" method="POST">
    <label for="beds">Number of beds </label>
    <select id="beds" name="beds">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <br>
    <label for="baths">Baths</label>
    <select id="baths" name="baths">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
    </select>
    <br>
    <label for="neighbourhood">Neighbourhood</label>
    <select id="neighbourhood" name="neighbourhood">
      <option value="1">Albany Park</option>
      <option value="2">Andersonville</option>
      <option value="3">Avondale</option>
      <option value="4">Beverly</option>
      <option value="5">Boystown</option>
      <option value="6">Bridgeport</option>
      <option value="7">Brozenville</option>
      <option value="8">Bucktown</option>
      <option value="9">Chinatown</option>
      <option value="10">Edgewater</option>
      <option value="11">Gold Coast</option>
      <option value="12">Humboldt Park </option>
      <option value="13">Hyde Park</option>
      <option value="14">Irving Park</option>
      <option value="15">Jefferson Park</option>
      <option value="16">Kenwood</option>
      <option value="17">Lakeview</option>
      <option value="18">Lincoln Park</option>
      <option value="19">Lincoln Square</option>
      <option value="20">Little Italy & University Village</option>
      <option value="21">Little Village</option>
      <option value="22">Logan Square</option>
      <option value="23">Loop</option>
      <option value="24">Magnificent Mile</option>
      <option value="25">North Center</option>
      <option value="26">North Park</option>
      <option value="27">Old Town</option>
      <option value="28">Pilsen</option>
      <option value="29">Portage Park</option>
      <option value="30">Pullman</option>
      <option value="31">River North</option>
      <option value="32">Rogers Park</option>
      <option value="33">Rascoe Village</option>
      <option value="34">South Loop</option>
      <option value="35">South Shore</option>
      <option value="36">Streeterville</option>
      <option value="37">Uptown</option>
      <option value="38">West Loop</option>
      <option value="39">West Ridge</option>
      <option value="40">West Town</option>
      <option value="41">Wicker Park/Bucktown</option>
      <option value="42">Wrigleyville</option>
    </select>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
